html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

/* navbar css  */

.parallax .navbar {
  transition: all 0.4s;
  margin-top: 0;
  /* float: center; */
}

.parallax .navbar .nav-link {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  /* float: center; */
}

.parallax .navbar .nav-link:hover,
.parallax .navbar .nav-link:focus {
  color: rgb(209, 209, 209);
  text-decoration: none;
  border-bottom: 3px solid #1f4068;
  background-color: none;
}

.logo img {
  float: left;
  width: 260px;
  height: auto;
  margin-top: 0;
  opacity: 0.9;
}

.fa {
  /* padding: 20px; */
  font-size: 20px;
  /* width: 55px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa-bars {
  background: transparent;
  color: white;
}

@media (max-width: 900px) {
  #navbarSupportedContent {
    background: #222831;
    opacity: 0.7;
    text-align: right;
  }
  .parallax .navbar {
    background-color: black;
  }
}

/* back to top button  */

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  opacity: 0.9;
}

#back-to-top {
  background-color: #30475e;
}

.breadcrumb-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 0 110px;
  position: relative;
  width: 100%;
}

.breadcrumb-image::before {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.breadcrumb-image h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-transform: uppercase;
}

.breadcrumbs_path {
  color: #fff;
  margin-top: 8px;
  position: relative;
  z-index: 9;
}

.breadcrumbs_path > a {
  color: #fff;
  transition: all 0.3s ease 0s;
}

#blog-1 {
  /* width: 70%; */
  margin-left: 60px;
  margin-right: 60px;
}

#blog-1 .text-center h1 {
  font-family: "Ubuntu", sans-serif;
  opacity: 0.8;
}

#blog-1 .breadcrumbs_path a .btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

/* ///////////footer///////////////// */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  columns: #90caf9;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  columns: #90caf9;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #90caf9;
  columns: #90caf9;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  /* background-color: #90caf9; */
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #1f4068;
}

.social-icons a.twitter:hover {
  background-color: #90caf9;
}

.social-icons a.github:hover {
  background-color: #474a56;
}

.social-icons a.linkedin:hover {
  background-color: #3282b8;
}

.social-icons a.instagram:hover {
  background-color: #bc658d;
}

.social-icons a.youtube:hover {
  background-color: #ff0000;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.center {
  text-align-last: center;
}
